@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

#hero {
  background-image: url("../../public//assets//images/hero-image.jpg");
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

.btn {
  display: inline-block;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  -webkit-transition-property: color, background-color, border-color, fill,
    stroke, opacity, -webkit-text-decoration-color, -webkit-box-shadow,
    -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, -webkit-text-decoration-color, -webkit-box-shadow,
    -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-box-shadow,
    -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2.25rem;
  width: 2.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}
